<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringHotApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <option name="ALTERNATIVE_JRE_PATH" value="jbr-17" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <module name="spring-hot" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.hot.SpringHotApplication" />
    <option name="VM_PARAMETERS" value="-XX:+AllowEnhancedClassRedefinition -javaagent:./HotSecondsServer/HotSecondsServer.jar=hotconf=./HotSecondsServer/hot-seconds-remote.xml --add-opens java.base/java.lang=ALL-UNNAMED --add-opens java.base/jdk.internal.loader=ALL-UNNAMED --add-opens java.base/java.io=ALL-UNNAMED --add-opens java.desktop/java.beans=ALL-UNNAMED --add-opens java.desktop/com.sun.beans=ALL-UNNAMED --add-opens java.desktop/com.sun.beans.introspect=ALL-UNNAMED --add-opens java.desktop/com.sun.beans.util=ALL-UNNAMED --add-opens java.base/sun.security.action=ALL-UNNAMED --add-opens java.base/java.lang.reflect=ALL-UNNAMED --add-opens java.base/java.net=ALL-UNNAMED" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>