<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hot.mapper.UserMapper">

<!--    <select id="test" resultType="com.example.hot.entity.User">-->
<!--        select id, name from user-->
<!--    </select>-->

<!--    <select id="test2" resultType="com.example.hot.entity.User">-->
<!--        select id, name, age from user-->
<!--    </select>-->

</mapper>
